/* Default Setup */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f5f5f5;
    font-family: "Fira Sans";
}
.container{
    width: 1280px;
    margin: 0 auto;
}
.primary_color{
    color: #006A50;
}
.section_title{
    font-size: 40px;
    font-family: "Fira Sans";
    font-weight: 600;
    line-height: 48px;
    color: #0E0E0E;
}
.default_p{
    font-size: 16px;
    font-family: "Fira Sans";
    font-weight: 400;
    line-height: 24px;
    color: #565656;
}
.box_title{
    font-size: 20px;
    font-family: "Fira Sans";
    font-weight: 700;
    line-height: 28px;
    color: #3e3e3e;
}
.news_title{
    font-size: 32px;
    font-family: "Fira Sans";
    font-weight: 600;
    line-height: 38px;
    color: #0E0E0E33;
}

/* Header Section */
.nav_bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}
.logo h2{
    font-size: 32px;
    font-family: "Fira Sans";
    font-weight: 600;  
    color: #0E0E0E;
}
.menu a{
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    font-family: "Fira Sans";
    color: #006A50;
    border: 1px solid #006A50;
    padding: 15px 30px;
    border-radius: 8px;
}
.menu a:hover{
    background-color: #006A50;
    color: #fff;
}

/* Banner Section */
.banner_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 560px;
    background-color: #C6E4D6;
    padding: 100px;
    border-radius: 24px;
}
.banner_text{
    width: 57%;
}
.banner_image{
    width: 43%;
}
.banner_text h4{
    font-size: 24px;
    font-family: "Fira Sans";
    font-weight: 500;  
    color: rgba(14, 14, 14, 0.5);
}
.banner_text h1{
    font-size: 56px;
    font-family: "Fira Sans";
    font-weight: 700;  
    line-height: 70px;
    color: #0E0E0E;
    margin: 20px 0;
}
.banner_text a{
    display: inline-block;
    text-decoration: none;
    padding: 17px 34px;
    border-radius: 8px;
    background-color: #006A50;
    border: 1px solid #006A50;
    font-size: 18px;
    font-family: "Fira Sans";
    color: #fff;
}
.banner_text a:hover{
    background-color: #006a5000;
    color: #006A50;
    border-color: #006A50;
}

.banner_image{
    text-align: right;
    padding-left: 50px;
}

/* Pillars Section */
#pillars_section{
    padding: 80px 0;
}
.pillars_box{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    
}
.pillars_card{
    padding: 24px;
    border: 1px solid #dbdbdb;
    border-radius: 16px;
    width: 302px;
    background-color: #fff;
}
.pillars_card > .box_title{
    padding: 20px 0;
}

/* vision section */
#vision_section{
    padding: 0px 0 50px 0;
}
.vision_box{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
.vision_title p{
    padding: 20px 0;
}
.vision_card1{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #d5e1f5;
    padding: 32px;
    border-radius: 16px;
    width: 410px;
}
.vision_card1 .box_title{
    padding: 20px 0;
}

.vision_card1 a{
    background-color: #5490F5;
    text-decoration: none;
    display: inline-block;
    padding: 11px 20px;
    border-radius: 8px;
    font-size: 16px;
    font-family: "Fira Sans";
    font-weight: 600;
    color: #fff;
    margin: 15px 0;
}
.vision_card1 a:hover{
    background-color: #4789fa;
}
/* Card 2 */
.vision_card2{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #C6E4D6;
    padding: 32px;
    border-radius: 16px;
    width: 410px;
}
.vision_card2 .box_title{
    padding: 20px 0;
}
.vision_card2 a{
    background-color: #09A15C;
    text-decoration: none;
    display: inline-block;
    padding: 11px 20px;
    border-radius: 8px;
    font-size: 16px;
    font-family: "Fira Sans";
    font-weight: 600;
    color: #fff;
    margin: 15px 0;
}
.vision_card2 a:hover{
    background-color: #04b867;
}

/* card 3 */
.vision_card3{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #F7EBCF;
    padding: 32px;
    border-radius: 16px;
    width: 410px;
}
.vision_card3 .box_title{
    padding: 20px 0;
}
.vision_card3 a{
    background-color: #FFC239;
    text-decoration: none;
    display: inline-block;
    padding: 11px 20px;
    border-radius: 8px;
    font-size: 16px;
    font-family: "Fira Sans";
    font-weight: 600;
    color: #fff;
    margin: 15px 0;
}
.vision_card3 a:hover{
    background-color: #ffb508;
}

/* testimonial_section */
.testimonial{
    padding: 48px 24px;
    border: 1px solid #dbdbdb;
    border-radius: 16px;
    background-image: url(../assets/quote-bg.png);
    background-position: 25px 25px;
    background-repeat: no-repeat;
    background-color: #fff;
}

.testimonial h3{
    font-size: 20px;
    font-family: "Fira Sans";
    font-weight: 600;
    line-height: 28px;
    color: #3e3e3e;
    padding: 10px 0;
}

/* opinion section*/
.opinion_headding {
    padding: 50px 0 30px 0;
}
.opinion_data td, th{
    border: 1px solid #c0c0c0;
    padding: 10px 15px;
}
.opinion_data{
    background-color: #fff;
    padding: 30px;
    border-radius: 16px;
}
.opinion_data table{
    border-collapse: collapse;
    width: 100%;
}
.own_thead{
    display: flex;
    justify-content: start;
    padding: 24px;
    background-color: #c6e4d6;
}

.thead1 {
    width: 83%;
    font-size: 20px;
    font-weight: 600;
    color: #0E0E0E;
}
.thead2 {
    width: 17%;
    font-size: 20px;
    color: #0E0E0E;
    font-weight: 600;
}
/* .opinion_data th{
    text-align: left;
    padding: 24px;
    background-color: #c6e4d6;
    font-size: 20px;
    color: #0E0E0E;
    
}
.opinion_data th:last-child{
    border-left: none;

}
.opinion_data th:first-child{
    border-right: none;

} */
.opinion_data td:last-child{
    width: 15%;
    text-align: center;
    
}
.opinion_data select{
    padding: 10px 14px;
    border-radius: 4px;
    border: none;
    border-right: 5px solid transparent;
    outline: 1px  solid #000;
    background-color: #c6e4d6;
    font-size: 16px;
    font-weight: 600;
    color: #0E0E0E;
}

.opinion_data td{
    padding: 24px;
    font-size: 16px;
    font-weight: 600;
    font-family: "Fira Sans";
    color: #0E0E0E;
}


